@{
    ViewBag.Title = "Registration Ok";
}

<h2>Kayıt işlemi başarılı, Önemli Not!</h2>
<hr />
Admin kullanıcısı tam yetkiye sahiptir giriş yapmak isterseniz,
<br /><br />
email : admin@admin.com
password : Admin@123456

<hr />
Manager kullanıcısı admin kullanıcısı vasıtası ile oluşturulur.
Kullanıcı işlemlerine erişemez.
<br /> <hr />

Kayıt işlemi sonrası varsayılan rol "User" rolüdür. Home,About,Contact sayfalarına erişebilir.


